body{
    margin: 0;
}

nav{
    background-image: linear-gradient(to right, darkblue, blue, lightblue);
}

#trail_pic{
    height: 100px;
    width: 100px;
    float: left;
}

#nav_bar{
    padding: 2rem;
    text-align: center;
}

#nav_bar a{
    font-size: 24pt;
    border-radius: 10px;
    padding: .5rem;
    margin: 3rem;
    text-decoration: none;
    border: 2px solid;
    color: white;
}

#nav_bar a:hover{
    font-size: 32pt;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    text-shadow: 3px 3px black;
}

#hero_image{
    background-image: url(/images/weepingangel.jpg);
    background-size: contain;
    width: 100%;
    height: 200px;
}

#content_area{
    background-image: linear-gradient(to bottom right, rgb(32, 1, 32), rgb(75, 3, 75), rgb(78, 0, 78), rgb(179, 1, 179),rgb(248, 6, 248));
    height: 700px;
}

footer{   
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, darkblue, blue, lightblue);
    text-align: center;
    font-size: 18pt;
}

#footy{
    padding: 1rem;
}

#footy a{
    border-radius: 10px;
    padding: .5rem;
    margin: 3rem;
    text-decoration: none;
    color: white;
    border: 2px solid;
}